<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      News Alert<br>
    </p>
    <p>
      <%= @alert.title %>.
    </p>
    <p><%= @alert.body %></p>
  </body>
</html>
